<div>
  <h1>{{ title() }}</h1>
  <form (submit)="submit()">
    <input type="text" [(ngModel)]="todo" name="todo"/>
    <textarea [(ngModel)]="descripion" name="descripion"> </textarea>
    <button type="submit">Add</button>
  </form>

  @if (todos$ | async; as todos) {
    <ul>
      @for (todo of todos; track todo.id) {
        <li>
          <h2>{{ todo.todo }}</h2>
          <p>{{ todo.description }}</p>
          <button (click)="removeTodo(todo.id)">Remove</button>
        </li>
      }
    </ul>
  }@else {
    <p>Loading...</p>
  }
</div>
